.itemLista {
  display: flex;
  gap: 1rem;
  border: 1px solid black;
  justify-content: space-between;
  align-items:start;
  border-radius: 1rem;
  padding: 1.5rem 1rem 1rem 1rem;
  min-height: 11rem;
  border:1px solid gray;
}

h1{
  font-size: 1rem;
}

.descricaoItem{
  font-size: 1rem;
  width: 15rem;
  text-align: justify;
}

.instituicaoItem{
  font-size: 1rem;
  width: 5rem;
}

.cpfItem{
  font-size: 1rem;
  width: 5rem;
}